header {
  background-color: #1e1e1e;
  padding: 30px 0;
}

header h3 {
  color: orange;
  font-family: "Dancing Script", serif;
  font-size: 20px;
  padding-top: 8px;
}

.header-container {
  width: 1200px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  padding: 0.625rem;
}

.header-right {
  padding: 0.625rem;
}

.header-right ul {
  list-style: none;
  display: flex;
}

.header-right nav ul li {
  font-family: "Oswald", monospace;
}

.header-right ul li a {
  padding: 0.625rem;
  color: #191011;
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
}

nav ul li a:hover {
  color: #8a3202;
}

.active-link {
  color: #8a3202 !important;
  font-weight: bold;
}
