header {
  background-color: #1e1e1e;
}

header h1 {
  color: white;
  font-weight: 10px;
}

.header-container {
  width: 1200px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  padding: 0.625rem;
}

.header-left img {
  padding-left: 4.375rem;
}

.header-right {
  padding: 0.625rem;
}

.header-right ul {
  list-style: none;
}

.header-right ul li a {
  padding: 0.625rem;
  color: #191011;
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
}
